{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  {% if 'placeholder' in post.image.url %}
                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                {% else %}
                <img class="card-img-top" src="{{ post.image.url }}">
                {% endif %}
  <p>Posted by {{ post.author }} on {{ post.date_posted }}</p>
  <p>{{ post.content }}</p>
  <div class="col-1">
    <strong>
      {% if user.is_authenticated %}
      <form class="d-inline" action="{% url 'posts:post_like' post.id %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
        {% else %}
        <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-regular fa-thumbs-up"></i></button>
        {% endif %}
      </form>
        {% else %}

        <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
        {% endif %}
        <span class="text-secondary">{{ post.number_of_likes }} </span>
    </strong>
  

  <p>Downvotes: {{ post.downvotes }}</p>
  </div>
  <p><a href="{#}">Upvote</a></p>
  <p><a href="{#}">Downvote</a></p>
  <h2>Reviews:</h2>
  {% for review in post.reviews.all %}
    <div class="review">
      <h3>{{ review.title }}</h3>
      <p>Posted by {{ review.author }} on {{ review.date_posted }}</p>
      <p>{{ review.content }}</p>
    </div>
  {% empty %}
    <p>No reviews yet.</p>
  {% endfor %}
  {% if user.is_authenticated %}
    <h2>Add a Review:</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  {% else %}
    <p><a href="#">Log in</a> to add a review.</p>
  {% endif %}
{% endblock %}