{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="detailhead">
  <div class="container">
    <div class="row g-0">
        <div class="col-md-6 detailhead-text">
  <h1>{{ post.title }}</h1>
  <p>Posted by {{ post.author }} on {{ post.date_posted }}</p>
  <div class="card-body">
    <p class="card-text ">
      {{ post.excerpt | safe }}
  </p>
  <div class="row">

    <div>
        <strong>
          {% if user.is_authenticated %}
<form class="d-inline" action="{% url 'posts:post_like' post.id %}" method="POST">
  {% csrf_token %}
  {% if liked %}
  <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
  {% else %}
  <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-regular fa-thumbs-up"></i></button>
  {% endif %}
</form>
  {% else %}
  <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
  {% endif %}
  <span class="text-secondary">{{ post.number_of_likes }} </span>

  {% if user.is_authenticated %}
  <form class="d-inline" action="{% url 'posts:post_dislike' post.id %}" method="POST">
    {% csrf_token %}
    {% if liked %}
    <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-solid fa-thumbs-down"></i></button>
    {% else %}
    <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like"><i class="fa-regular fa-thumbs-down"></i></button>
    {% endif %}
  </form>
    {% else %}
    <span class="text-secondary"><i class="fa-regular fa-thumbs-down"></i></span>
    {% endif %}
    <span class="text-secondary">{{ post.number_of_dislikes }} </span>
</strong>
    </div>

</div>
  </div>
        </div>
        <div class="d-none d-md-block col-md-6 detailhead-image">
          {% if 'placeholder' in post.image.url %}
          <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="full-width">
          {% else %}
          <img src="{{ post.image.url }}" class="full-width">
          {% endif %}
        </div>
    </div>
  </div>
</div>
  </div>
  <hr>
  <h2>Reviews:</h2>
  {% for review in post.reviews.all %}
    <div class="review">
      <h3>{{ review.title }}</h3>
      <p>Posted by {{ review.author }} on {{ review.date_posted }}</p>
      <p>{{ review.content }}</p>
    </div>
  {% empty %}
    <p>No reviews yet.</p>
  {% endfor %}
  {% if user.is_authenticated %}
    <h2>Add a Review:</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  {% else %}
    <p><a href="#">Log in</a> to add a review.</p>
  {% endif %}
{% endblock %}